body {
    background: #000;
    height: 100vh;
}

.neon {
    display: flex;
    flex-direction: column;
}

.line {
    display: block;
    width: 40rem;
    height: 20rem;
    align-self: center;
    border: 1px solid #fff;
    margin-bottom: 40px;
    border-radius: 1rem;
    box-shadow: 
        0 0 calc(var(--power) * 0.5)
        #fff,
        0 0 calc(var(--power) * 2)
        #fff,
        0 0 calc(var(--power) * 4)
        #78D6C6,
        0 0 calc(var(--power) * 8)
        #78D6C6,
        0 0 calc(var(--power) * 10)
        #78D6C6,
        inset 0 0 calc(var(--power) *
        0.5) #fff,
        inset 0 0 calc(var(--power) *
        2) #fff,
        inset 0 0 calc(var(--power) *
        4) #78D6C6,
        inset 0 0 calc(var(--power) *
        8) #78D6C6,
        inset 0 0 calc(var(--power) *
        10) #78D6C6;
    transform: rotate3d(10deg,
    -20deg, 100deg);
    transition: box-shadow 0.2s ease;
}

.power-wrapper {
    margin-top: 200px;
    color: #fff;
    display: flex;
    font-size: 32px;
    font-family: sans-serif;
}

.power-label {
    margin-right: 1rem;
}

.power-range {
    width: 100%;
    height: 6px;
    appearance: none;
    background:
        linear-gradient(90deg,
        #12486B 0%, #fff 100%);
    border-radius: 20px;
}